.html {
    scroll-behavior: smooth;
}
.shadow-box {
    color: rgb(128, 145, 165);
    font-size: 1.5rem;
    width: 85%;
    padding: 1.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    transform: translate3d(0px, 0px, 0px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 25px 0px;
    --gradient-background: linear-gradient( 60deg,#237CCA 0%,#1CA6B2 100% );
    --gradient-color: currentColor;
    transition: all 0.4s ease 0s;
    overflow: visible;
    border-radius: 6px;
}
.shadow-box>div {
    flex-wrap: wrap;
}
.app-logo:hover {
    cursor: help;
}

.app-logo {
    height: 50px;
}